.background    { background: rgb(70, 166, 200);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(20, 200, 50); }
.wall          { background: black;   }
.floater  	   { background: rgb(20, 50, 200);}

.game {
  position: relative;
}
